{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
{{/section}}
<header class="myinfo">
    <span class="myinfo-name">周永佳</span>
    <span class="myinfo-title">前端开发工程师</span>
    <address class="myinfo-address">
        <a class="address" href="tel:15818864118">15818864118</a>
        <a class="address" href="mailto:qieguo.chow@gmail.com" target="_blank">qieguo.chow@gmail.com</a>
        <div class="address blog">
            <a class="link-btn" href="http://www.cnblogs.com/qieguo/" target="_blank">个人博客</a>
            <a class="link-btn" href="https://github.com/QieGuo2016" target="_blank">
                <svg aria-hidden="true" class="github" height="20" width="20" version="1.1" viewBox="0 0 16 16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59 0.4 0.07 0.55-0.17 0.55-0.38 0-0.19-0.01-0.82-0.01-1.49-2.01 0.37-2.53-0.49-2.69-0.94-0.09-0.23-0.48-0.94-0.82-1.13-0.28-0.15-0.68-0.52-0.01-0.53 0.63-0.01 1.08 0.58 1.23 0.82 0.72 1.21 1.87 0.87 2.33 0.66 0.07-0.52 0.28-0.87 0.51-1.07-1.78-0.2-3.64-0.89-3.64-3.95 0-0.87 0.31-1.59 0.82-2.15-0.08-0.2-0.36-1.02 0.08-2.12 0 0 0.67-0.21 2.2 0.82 0.64-0.18 1.32-0.27 2-0.27 0.68 0 1.36 0.09 2 0.27 1.53-1.04 2.2-0.82 2.2-0.82 0.44 1.1 0.16 1.92 0.08 2.12 0.51 0.56 0.82 1.27 0.82 2.15 0 3.07-1.87 3.75-3.65 3.95 0.29 0.25 0.54 0.73 0.54 1.48 0 1.07-0.01 1.93-0.01 2.2 0 0.21 0.15 0.46 0.55 0.38C13.71 14.53 16 11.53 16 8 16 3.58 12.42 0 8 0z"></path></svg>
                <img class="link-img" src="/images/o_mygithub.png">
            </a>
        </div>
    </address>
    <img class="myinfo-thumb" src="/images/myWechat.png" />
</header>
<div class="main">
    <h2 class="main-title">项目经历</h2>
    <ul class="prt-li">
        <li class="prt">
            <header class="prt-header">
                <h3 class="prt-title">恋爱君</h3>
                <ul class="prt-tags">
                    <li class="tag yellow">jQuery</li>
                    <li class="tag green">weChat</li>
                </ul>
                <p class="prt-ft-tag">2015/10-2016/05</p>
            </header>
            <div class="prt-detail">
                <div class="prt-intro">
                    <ol>恋爱君的微信版，目前用户主体为年轻的95后。目前累计用户<strong>300,000+</strong>，最高日活用户<strong>10,000+</strong>。有聊天和社区两大版块。
                        <li class="intro-pts">聊天部分：一日情侣（一日后断开连线，可申请加好友），双向匹配的遇见系统，新好友一起做任务引入话题，头像逐渐清晰增加趣味等。</li>
                        <li class="intro-pts">社区部分：目前有帖子系统和附近的人两部分，建立了举报监督机制，目标是打造一个干净有趣的公共社区。</li>
                    </ol>
                    <ol>工作职责
                        <li class="intro-pts">搭建前端底层框架，底层框架定义了页面的基本结构、页面转场、系统弹窗、载入动画等系统级功能，另外还实现了前端路由功能、各种资源加载以及版本控制功能。作为一个单页轻量应用，只使用了jQuery框架，有效地保证了系统的轻量化以及可维护性。</li>
                        <li class="intro-pts">编写前端页面组件，通过底层框架载入到应用中。通过组件化的编程，简化了代码组织结构，很好地协调了项目成员间的分工合作。</li>
                        <li class="intro-pts">前端页面优化，通过动画性能优化、页面加载速度优化等，提高了用户体验，尤其是在微信安卓客户端中的用户体验。</li>
                    </ol>
                </div>
                <img class="prt-thumb" src="/images/introduce_1.png" alt="恋爱君">
            </div>
        </li>
        <li class="prt">
            <header class="prt-header">
                <h3 class="prt-title"><a href="/card" target="_blank">二维码名片</a></h3>
                <ul class="prt-tags">
                    <li class="tag yellow">jQuery插件</li>
                    <li class="tag green">Nodejs</li>
                </ul>
                <p class="prt-ft-tag">2016/06-2016/06</p>
            </header>
            <div class="prt-detail">
                <div class="prt-intro">
                    <ol>为公司市场活动开发的通讯录小应用。
                        <li class="intro-pts">可将名片信息一键录入手机通讯录，无需手工录入或者扫描名片。</li>
                        <li class="intro-pts">微信web应用，有很好的传播性，也适合线上线下的大量群发。</li>
                    </ol>
                    <ol>工作职责
                        <li class="intro-pts">编写前端页面，使用weUI风格，通过将名片信息保存在url中、页面根据url动态生成二维码的方式在前端实现了数据的存储，无需在服务器中存储二维码图片，降低消耗。</li>
                        <li class="intro-pts">搭建后端服务，实现微信jssdk的接口验证。使用nodejs编写，精简了服务器结构，大大提高了开发和部署的效率。</li>
                    </ol>
                </div>
                <a class="prt-link" href="/card" target="_blank"><img class="prt-thumb" src="/images/qrcode.png" alt="二维码名片"></a>
            </div>
        </li>
        <li class="prt">
            <header class="prt-header">
                <h3 class="prt-title"><a href="/lagou" target="_blank">拉勾小爬虫</a></h3>
                <ul class="prt-tags">
                    <li class="tag yellow">Ajex</li>
                    <li class="tag green">NodeJs</li>
                </ul>
                <p class="prt-ft-tag">2016/06-2016/06</p>
            </header>
            <div class="prt-detail">
                <div class="prt-intro">
                    <ol>Nodejs服务器开发，尝试用Nodejs做了个爬取拉勾网招聘信息的小爬虫。
                        <li class="intro-pts">后端服务器使用request发送请求爬取内容，整体挂靠在个人小站的express框架上。为减轻拉勾服务器负担而使用async控制了并发数量。</li>
                        <li class="intro-pts">前端使用echart输出统计数据，后续想要结合各地地图进行更为直观的职位分布输出。</li>
                    </ol>
                </div>
                <a class="prt-link" href="/lagou" target="_blank"><img class="prt-thumb" src="/images/spider.png" alt="拉勾小爬虫"></a>
            </div>
        </li>
    </ul>
    <h2 class="main-title">其他个人作品集</h2>
    <ul class="prt-li">
        <li class="prt">
            <header class="prt-header">
                <h3 class="prt-title"><a href="http://qieguo2016.github.io/demos/fakeZhihu/index.html" target="_blank">fake知乎</a></h3>
                <ul class="prt-tags">
                    <li class="tag blue">CSS3</li>
                </ul>
                <p class="prt-ft-tag">2016/04</p>
            </header>
            <div class="prt-detail">
                <div class="prt-intro">
                    <ol>模仿知乎
                        <li class="intro-pts">Flex布局，优化CSS结构，提高CSS的模块与复用性。仅仅是CSS学习之用，js交互部分实现较少。</li>
                        <li class="intro-pts">后续考虑结合服务器和数据库做一个完整的应用，使用react以组件化的方式开发</li>
                    </ol>
                </div>
                <a class="prt-link" href="http://qieguo2016.github.io/demos/fakeZhihu/index.html" target="_blank"><img class="prt-thumb" src="/images/fakezhihu.png" alt="fakeZhihu"></a>
            </div>
        </li>
        <li class="prt">
            <header class="prt-header">
                <h3 class="prt-title"><a href="http://qieguo2016.github.io/demos/audioVisualizer/index.html" target="_blank">音乐可视化</a></h3>
                <ul class="prt-tags">
                    <li class="tag green">Audio API</li>
                    <li class="tag blue">File Reader</li>
                </ul>
                <p class="prt-ft-tag">2016/04</p>
            </header>
            <div class="prt-detail">
                <div class="prt-intro">
                    HTML5 实现的音乐可视化效果。研究了一下实验中的Web Audio API 标准，实现简单的频谱分析，并使用canvas绘图实现可视化了动画效果。
                    demo使用了FileReader 实现了歌曲文件的读入，也可以通过请求服务器的资源获取歌曲文件。
                </div>
                <a class="prt-link" href="http://qieguo2016.github.io/demos/audioVisualizer/index.html" target="_blank"><img class="prt-thumb" src="/images/audiovisualizer.gif" alt="audiovisualizer"></a>
            </div>
        </li>
    </ul>
</div>
{{#section 'foot'}}
    <footer>(c) Copyright 2016 Qieguo. All Rights Reserved. </footer>
{{/section}}

